[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dbt-core = "==1.1.0"
dbt-snowflake = "==1.1.0"
dbt-bigquery = "==1.1.0"
dbt-sqlserver = "==1.1.0"
dbt-databricks = "==1.1.0"
dbt-postgres = "==1.1.0"

[packages]
mkdocs-material = "*"
pymdown-extensions = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-with-pdf = "*"
mkdocs-video = "*"
invoke = "*"

[requires]
python_version = "3.9"
