[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs-material = "*"
pymdown-extensions = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-with-pdf = "*"
mkdocs-video = "*"
invoke = "*"
automate-dv-cli = {path = "./../automate-dv-cli"}

[dev-packages]
dbt-core = "==1.4.6"
dbt-snowflake = "==1.4.3"
dbt-bigquery = "==1.4.3"
dbt-sqlserver = "==1.4.3"
dbt-databricks = "==1.4.3"
dbt-postgres = "==1.4.6"
automate-dv-cli = {path = "./../automate-dv-cli"}

[requires]
python_version = "3.11"
